# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.turbo/
*.tsbuildinfo

# test / coverage
coverage/

# vite
apps/web/.vite/

# env & local
.env
.env.*
!.env.example
.DS_Store

# editor
.idea/
*.log
samples
